/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2019, 1:21:41 PM
    Author     : DGunn Razer Laptop
*/

    .button {
        display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 18px/100% Courier;
	padding: .5em 2em .60em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
        margin-right: 10px;
        margin-top: 20px;
    }
    .button:hover {
	text-decoration: none;
    }
    .button:active {
	position: relative;
	top: 1px;
    }



    .orange {
	color: darkmagenta;
	border: solid 1px #da7c0c;
	background-image: linear-gradient(to bottom right,#f68d1d,#ffff66 );
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f442d7));
	background: -moz-linear-gradient(top,  #faa51a,  #f442d7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f442d7');
    }
    .orange:hover {
    	background-image: linear-gradient(to bottom right,#ffcc00,#fffae6 );
    	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
    }
    .orange:active {
         color: magenta;
         background: -webkit-gradient(linear, left top, left bottom, from(#f442d7), to(#faa51a));
         background: -moz-linear-gradient(top,  #f442d7,  #faa51a);
         filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f442d7', endColorstr='#faa51a');
    }

    .bigrounded {
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }